.buildpath
.project
.settings
.idea
pmip
cache
build
logs/access.log
logs/error.log
application/*.log
application/settings/configuration
application/settings/routes
tests/library/Assets/_files/output/*

!logs/empty
!tests/library/Assets/_files/output/empty