.idea
build
logs/access.log
logs/error.log
application-example/*.log
application-example/settings/configuration
application-example/settings/routes
tests/library/Assets/_files/output/*
!logs/empty
!tests/library/Assets/_files/output/empty