a.action-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-right: 2px;
}

.action-edit {
	background-image: url(<?=$cdn?>/resources/images/actions/edit.png);
}

.action-delete {
	background-image: url(<?=$cdn?>/resources/images/actions/delete.png);
}

.action-publish {
	background-image: url(<?=$cdn?>/resources/images/actions/publish.png);
}

.action-unpublish {
	background-image: url(<?=$cdn?>/resources/images/actions/unpublish.png);
}