a,a:active,a:link,a:visited {
	color: #069;
}

a:hover {
	color: #c00;
}

#header {
	background: url('<?=$images?>/bg_header_blue.gif') left top no-repeat;
}

h1 {
	color: #1b486a;
}

#menu ul.group li a {
	background: url('<?=$images?>/navigation_background_blue.gif') repeat-x top left;
}

#menu ul.group li.first a {
	background: url('<?=$images?>/navigation_first_blue.gif') no-repeat top left;
}

#menu ul.group li.last a {
	background: url('<?=$images?>/navigation_last_blue.gif') no-repeat top right;
}

#menu ul.group li a span.inner {
	border-right: 1px solid #4985b2;
}

#menu ul.group li a:hover span.inner {
	border-right: 1px solid #4985b2;
}

#tabs .container {
	border-left: 1px solid #397cae;
	border-right: 1px solid #397cae;
	border-bottom: 1px solid #346a92;
}

#tabs ul li a {
	color: #1b486a;
}

#tabs {
	background: #639ecb;
}

#tabs .container {
	background: url('<?=$images?>/tabs_bg.gif.html') repeat-x left top;
}

#tabs ul li a {
	background: url('<?=$images?>/tabs_left.gif') no-repeat left top;
}

#tabs ul li a span {
	background: url('<?=$images?>/tabs_right.gif') no-repeat right top;
}

.button {
	background: transparent url('<?=$images?>/but_right_blue.gif') no-repeat scroll top right;
	color: #1b486a;
}

.button span {
	background: url('<?=$images?>/but_left_blue.gif') no-repeat left top;
}

.button:hover span {
	color: #1b486a;
}

.button_ok {
	background: transparent url('<?=$images?>/but_round_span_blue.gif') no-repeat scroll top right;
	color: #1b486a;
}

.button_ok span {
	background: url('<?=$images?>/but_round_ok_blue.gif') no-repeat left top;
}

.button_ok:hover span {
	color: #1b486a;
}

.button_notok {
	background: transparent url('<?=$images?>/but_round_span_blue.gif') no-repeat scroll top right;
	color: #1b486a;
}

.button_notok span {
	background: url('<?=$images?>/but_round_del_blue.gif') no-repeat left top;
}

.button_notok:hover span {
	color: #1b486a;
}