a,a:active,a:link,a:visited {
	color: #c00;
}

a:hover {
	color: #000;
}

#header {
	background: url('<?=$cdn?>/resources/images/bg_header_red.gif') left top no-repeat;
}

h1 {
	color: #880400;
}

#menu ul.group li a {
	background: url('<?=$cdn?>/resources/images/navigation_background_red.gif') repeat-x top left;
}

#menu ul.group li.first a {
	background: url('<?=$cdn?>/resources/images/navigation_first_red.gif') no-repeat top left;
}

#menu ul.group li.last a {
	background: url('<?=$cdn?>/resources/images/navigation_last_red.gif') no-repeat top right;
}

#menu ul.group li a span.inner {
	border-right: 1px solid #880400;
}

#menu ul.group li a:hover span.inner {
	border-right: 1px solid #880400;
}

#tabs .container {
	border-left: 1px solid #6d0703;
	border-right: 1px solid #6d0703;
	border-bottom: 1px solid #6d0703;
}

#tabs ul li a {
	color: #440202;
}

#tabs {
	background: #880400;
}

#tabs .container {
	background: none;
}

#tabs ul li a {
	background: url('<?=$cdn?>/resources/images/tabs_left_red.gif') no-repeat left top;
}

#tabs ul li a span {
	background: url('<?=$cdn?>/resources/images/tabs_right_red.gif') no-repeat right top;
}

.button {
	background: transparent url('<?=$cdn?>/resources/images/but_right_red.gif') no-repeat scroll top right;
	color: #fff;
}

.button span {
	background: url('<?=$cdn?>/resources/images/but_left_red.gif') no-repeat left top;
}

.button:hover span {
	color: #fff;
}

.button_ok {
	background: transparent url('<?=$cdn?>/resources/images/but_round_span_red.gif') no-repeat scroll top right;
	color: #fff;
}

.button_ok span {
	background: url('<?=$cdn?>/resources/images/but_round_ok_red.gif') no-repeat left top;
}

.button_ok:hover span {
	color: #fff;
}

.button_notok {
	background: transparent url('<?=$cdn?>/resources/images/but_round_span_red.gif') no-repeat scroll top right;
	color: #fff;
}

.button_notok span {
	background: url('<?=$cdn?>/resources/images/but_round_del_red.gif') no-repeat left top;
}

.button_notok:hover span {
	color: #fff;
}